node_modules/
dist
.env
.DS_Store
.vscodetarget/
*.bat
*.ps1
IDE-*
frontend/public/
target/
*.bat
*.ps1
IDE-*
frontend/public/
*.bat
*.ps1
IDE-*
frontend/public/
target/
*.bat
*.ps1
IDE-*
frontend/public/
